<link rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet"
      href="{{ url_for('static', filename='card.css') }}">
<link rel="stylesheet"
      href="{{ url_for('static', filename='containers.css') }}">
<link rel="stylesheet"
      href="{{ url_for('static', filename='forms.css') }}">
<link rel="stylesheet"
      href="{{ url_for('static', filename='menu.css') }}">
<link rel="stylesheet"
      href="{{ url_for('static', filename='utilities.css') }}">
